{% extends 'base.html' %}

{% block styles %}
    <!-- Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <!-- Boostrap for Datatable styling -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" /> -->
    

    <!-- Country flag-icons CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css/css/flag-icon.min.css">
{% endblock %}

{% block content %}
    <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
    <table class="hover compact order-column" style="width:100%" id="{{config.table_id}}">
        <thead>
            {% block table_header %}
                <tr>
                    {% include 'table/table_columns.html' %}
                </tr>
            {% endblock %}
        </thead>
        <tbody>
            {% block table_content %}
                {% for paper in data %}
                <tr>
                    <td>{{loop.index}}</td>
                    {% with paper=paper %}
                        {% include 'table/table_rows.html' %}
                    {% endwith %}
                </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
        <tfoot>
            {% block table_footer %}
                <tr>
                    {% include 'table/table_columns.html' %}
                </tr>
            {% endblock %}
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
    <!-- Datatable -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="{{url_for('table.static', filename='js/datatable.js')}}"></script>

    <!-- Boostrap for Datatable styling -->
   <!-- <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> -->
{% endblock %}
    
