{% extends 'base.html' %}

{% block styles %}
    <!-- Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="{{url_for('table.static', filename='css/datatable.css')}}" />

    <!-- Boostrap for Datatable styling -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    

    <!-- Country flag-icons CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css/css/flag-icon.min.css">
{% endblock %}

{% block content %}
    <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
    <table class="hover compact order-column" id="bpa_table">
        <thead>
            {% block table_header %}
                <tr>
                    {% include 'table/table_columns.html' %}
                </tr>
            {% endblock %}
        </thead>
        <tbody>
            {% block table_content %}
                {% for paper in data %}
                <tr>
                    {% with paper=paper %}
                        {% include 'table/table_rows.html' %}
                    {% endwith %}
                </tr>
                {% endfor %}
            {% endblock %}
        </tbody>
        <tfoot>
            {% block table_footer %}
                <tr>
                    {% include 'table/table_columns.html' %}
                </tr>
            {% endblock %}
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
    <!-- Datatable -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

    <script src="{{url_for('table.static', filename='js/datatable.js')}}"></script>
    

    <!-- Boostrap for Datatable styling -->
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}
    
