<th title="Conference">Venue</th>
<th title="Year of publication">Year</th>
<th title="DOI/URL of the paper">DOI</th>
<th title="DOI/URL of the extended (journal) version">Ext.</th>
<th title="Paper's title">Title</th>
<th title="Paper's authors">Authors</th>
<th title="Authors' affiliations">Affiliations</th>
<th><i class="fa-solid fa-earth-europe" style="color: black;" title="Affiliations' countries"></i><span hidden>Countries</span></th>
<th title="Award's title">Award</th>
<th><i class="fa-solid fa-award" style="color: black;" title="Certificate of the best paper award"></i><span hidden>Certificate</span></th>
<th><i class="fa-solid fa-circle-check" style="color: black;" title="Verified"><span hidden>Verified</span></th>