{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block main_title %}
{% endblock %}


{% block content %}
<div class="container-flex">
    <div class="d-flex justify-content-center">
        <h2>Add new Admin</h2>
    </div>
    <div class="d-flex justify-content-center">
        <form action="{{ url_for('auth.show_signup_form') }}" method="POST" class="row g-3 needs-validation" novalidate>
            <div class="row g-3 d-flex justify-content-center">
                <div class="col-sm-4">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    <div class="invalid-feedback">
                        Please provide a valid email address.
                    </div>
                </div>
            </div>
            <div class="row g-3 d-flex justify-content-center">
                <div class="col-sm-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
            </div>
            <div class="row g-3 d-flex justify-content-center">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Add admin</button>
                </div>
            </div>
            <div class="row g-3  d-flex justify-content-center">
                <div class="col-sm-4">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == "info" %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endif %}
                            {% if category == "warning" %}
                                <div class="alert alert-warning" role="alert">{{ message }}</div>
                            {% endif %}
                            {% if category == "error" %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
          </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Validation form -->
    <script src="{{url_for('add_paper.static', filename='js/form_validation.js')}}"></script>
{% endblock %}