<form action="{{ url_for(config.url_for_action) }}" method="POST" enctype="multipart/form-data">
    <label for="doi">DOI/URL:</label>
    <input type="text" name="doi" id="doi" required {% if data and data.doi %}value="{{data.doi}}"{% endif %} {% if config.readonly_doi %}readonly{% endif %}>
    <input type="submit" name="extract" value="Extract Info">
    {% with messages = get_flashed_messages(category_filter=["info"]) %}
        {% if messages %}
            {% for message in messages %}
                <span class="alert alert-warning" role="alert">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" size="100" {% if data and data.title %}value="{{data.title}}"{% endif %}><br><br>
    <label for="authors">Authors:</label>
    <input type="text" name="authors" id="authors" size="100" {% if data and data.authors %}value="{{data.authors | join(', ')}}"{% endif %}><br><br>
    <label for="affiliations">Affiliations:</label>
    <input type="text" name="affiliations" id="affiliations" size="100" {% if data and data.affiliations %}value="{{data.affiliations | join(', ')}}"{% endif %}><br><br>
    <label for="countries">Countries:</label>
    <input type="text" name="countries" id="countries" size="100" {% if data and data.countries %}value="{{data.countries | map(attribute='name') | join(', ')}}"{% endif %}><br><br>
    <label for="venue">Venue:</label>
    <input type="text" name="venue" id="venue" size="100" {% if data and data.venue %}value="{{data.venue}}"{% endif %}><br><br>
    <label for="year">Year:</label>
    <input type="number" name="year" id="year" {% if data and data.year %}value="{{data.year}}"{% endif %}><br><br>
    <label for="award">Award:</label>
    <input type="text" name="award" id="award" {% if data and data.award %}value="{{data.award}}"{% endif %}><br><br>
    <label for="certificate">Certificate:</label>
    {% if config.download_certificate %}
    <label>{% if data and data.certificate %}<a href="{{ url_for('table.download_certificate', doi=data.doi) }}" title="Download certificate"><i class="fa-solid fa-download" style="color: green;"></i></a>{% else %}<i class="fa-solid fa-download" style="color: gray;" title="Not available"></i>{% endif %}</label>
    {% endif %}
    <input type="file" name="certificate" id="certificate"/>
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
                <span class="alert alert-danger" role="alert">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    <input type="submit" name="{{config.submit_action}}" value="{{config.submit_botton}}">
</form>