<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap's CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    {% block styles %}
    {% endblock %}

    <title>{% block title %}Best Papers Awards{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('table.index') }}">Home</a></li>
            <li><a href="{{ url_for('add_paper.add_paper') }}">Add Paper</a></li>
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li> | </li>
                <li><a href="{{ url_for('auth.show_signup_form') }}">Sign up</a></li>
            {% else %}
                <li>{{ current_user.name }}</li>
                <li> | </li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Common footer -->
    <footer>
        José Miguel Horcas &copy; 2023 Best Papers Awards. All rights reserved.
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
